body{
  background-color: teal;
}
#btnd{
  text-align: center;
  
}
.btn{
  margin-top: 60px;
  height: 150px;
  width: 150px;
  top: 150px;
  background-color: teal;
  border-color: darkred;
}
#Title{
  text-align: center;
}
